Data Types and Structures Questions

Q1. What are data structures, and why are they important

A1. Data structures are ways to store and organize data so it can be used efficiently some examples are list, set, tupples etc.

Importance  :-

Make data access faster.

Help in managing large data easily.

Improve code efficiency and performance.

Q2.  Explain the difference between mutable and immutable data types with examples

A2. Mutable data types are the data types that can be changed after creation ex list, set , dictionary.

Imutable data types are the data types that cannot be changed after creation ex tupes, string.

Q3. What are the main differences between lists and tuples in Python

A3. Lists and tuples are both used to store multiple items in Python, but they differ mainly in mutability. A list is mutable meaning its elements can be changed after creation, while a tuple is immutable meaning its elements cannot be modified once defined.

Q4. Describe how dictionaries store data

A4. Dictionaries in Python store data in the form of key-value pairs.
Each key in a dictionary is unique and acts like an index used to access its corresponding value. Ex

student = {"name": "Dhruv", "age": 25, "course": "CSE"}

Q5. Why might you use a set instead of a list in Python

A5. We can use a set instead of a list in Python when we need to store unique elements and dont care about the order of items.

Q6. What is a string in Python, and how is it different from a list

A6. A string in Python is a sequence of characters enclosed in quotes. It is immutable, meaning you cannot change its characters once created.

A list, on the other hand, is a collection of items that can include different data types like integers ,string etc and is mutable, meaning you can modify, add, or remove elements.

Q7. How do tuples ensure data integrity in Python

A7. Tuples ensure data integrity in Python because they are immutable, meaning their values cannot be changed, added, or removed after creation.

Q8. What is a hash table, and how does it relate to dictionaries in Python

A8. A hash table is a data structure that stores data in key-value pairs and uses a hash function to quickly find the location of a key in memory.

A dictionary is built using a hash table internally. It uses hashing to store and retrieve values efficiently based on their keys.

Q9. Can lists contain different data types in Python

A9. Yes, lists in Python can contain different data types. For example, a single list can have numbers, strings, and even other lists.

my_list = [1, "Hello", 3.5, True]

Q10.  Explain why strings are immutable in Python

A10. Strings are immutable in Python because once a string is created, its value cannot be changed or modified in memory.This makes strings more secure, memory-efficient since their values cannot be altered accidentally after creation.

Q11. What advantages do dictionaries offer over lists for certain tasks

A11. You can associate meaningful keys (like names or IDs) with values, making data easier to understand.Each key in a dictionary is unique, which helps prevent data repetition

Q12. Describe a scenario where using a tuple would be preferable over a list

A12. We use a tuple instead of a list when you want to store data that should not change throughout the program. Ex like student name roll no. , once assigned we dont need to change.

student_info = ("Dhruv Varshney", 29)

Q13. How do sets handle duplicate values in Python

A13. sets automatically remove duplicate values, They only store unique elements, so if we add the same value more than once, it will appear only once in the set.

Q14. How does the “in” keyword work differently for lists and dictionaries

A14. The in keyword in Python behaves differently for lists and dictionaries, primarily in what it searches for like in List it checks if an element (value) exists and in Dictionary it checks if a key exists.

Q15. Can you modify the elements of a tuple? Explain why or why not

A15. No, we cannot modify the elements of a tuple in Python.This is because tuples are immutable, meaning once they are created, their values cannot be changed, added, or removed.

Q16. What is a nested dictionary, and give an example of its use case

A16. A nested dictionary in Python means having one dictionary inside another dictionary. It is useful when we want to store data like details of students, employees, or products. Ex.

students = {

    "101": {"name": "Rahul", "age": 20, "grade": "A"},

    "102": {"name": "Neha", "age": 21, "grade": "B"}
}

Q17. Describe the time complexity of accessing elements in a dictionary

A17. Accessing elements in a dictionary in Python has an average time complexity of O(1) — meaning it takes constant time, no matter how large the dictionary is. Dictionaries use a hash table internally, so when we look up a key, Python calculates its hash value and directly jumps to the memory location where the value is stored.

Q18. In what situations are lists preferred over dictionaries

A18. Lists are preferred over dictionaries when you need to store data in an ordered, sequential manner without key–value pairs. Ex storing simple collections of items for shopping.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval

A19. Dictionaries are considered unordered because they dont store elements based on their position. Dictionaries store data using hashing, where each keys hash value decides where it is stored in memory.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

A20. In List elements are retrieved using index numbers and in Dictionary elements are retrieved using unique keys, not indexes

Practical Questions

Q1. Write a code to create a string with your name and print it

In [19]:
name = "Dhruv Varshney"
print(name)

Dhruv Varshney

Q2. Write a code to find the length of the string "Hello World"

In [20]:
s = "Hello World"
print(len(s))

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming"

In [21]:
s = "Python Programming"
str = s[0:3]
print(str)

Pyt

Q4. Write a code to convert the string "hello" to uppercase

In [22]:
s = "hello"
upper_s = s.upper()
print(upper_s)

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [23]:
s = "I like apple"
new_s = s.replace("apple", "orange")
print(new_s)

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it

In [24]:
l=[]
for i in range(1,6):
  l.append(i)
print(l)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [25]:
num = [1, 2, 3, 4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [26]:
num = [1, 2, 3, 4, 5]
num.remove(3)
print(num)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [27]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [28]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [29]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [30]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [31]:
num = (10, 20, 5, 15)
print(min(num))

5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [32]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [33]:
fruits = ('apple', 'mango', 'kiwi')
print("kiwi" in fruits)

True

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [34]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [35]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [36]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [37]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [38]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [39]:
student = {
    "name": "Dhruv",
    "age": 24,
    "city": "Bareilly"
}
print(student)

{'name': 'Dhruv', 'age': 24, 'city': 'Bareilly'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [40]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [41]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [42]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [43]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [44]:
my_list = [1, 2, 3, 4]
my_tuple = ('apple', 'banana', 'mango')
my_dict = {'name': 'Dhruv', 'age': 24, 'city': 'Bareilly'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: ('apple', 'banana', 'mango')
Dictionary: {'name': 'Dhruv', 'age': 24, 'city': 'Bareilly'}

Q27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [45]:
import random
numbers = [random.randint(1, 100) for _ in range(5)]

print("Random list:", numbers)

numbers.sort()

print("Sorted list:", numbers)

Random list: [8, 46, 81, 100, 86]
Sorted list: [8, 46, 81, 86, 100]

Q28. Write a code to create a list with strings and print the element at the third index

In [46]:
fruits = ["apple", "banana", "pineapple", "mango", "orange"]
print(fruits[3])

mango

Q29. Write a code to combine two dictionaries into one and print the result

In [47]:
dict_1 = {'name': 'Dhruv', 'age': 25}
dict_2 = {'city': 'Bareilly', 'country': 'India'}

dict_1.update(dict_2)

print(dict_1)

{'name': 'Dhruv', 'age': 25, 'city': 'Bareilly', 'country': 'India'}

Q30. Write a code to convert a list of strings into a set

In [48]:
fruits = ["apple", "banana", "mango", "apple","mango"]

fruit_set = set(fruits)

print(fruit_set)

{'banana', 'mango', 'apple'}